<div class="container">
    <div class="row">
      <div class="col-xs-4"> </div>
      <div class="col-xs-4">
          <h3>Find youe stock details here</h3>
          </div>
      <div class="col-xs-4"> </div>
    </div>
  <div class="row">
    <div class="col-xs-4"> </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label for="email">User Name:</label>
            <input type="text" #name class="form-control" [(ngModel)] = "userName">
          </div>
        </div>
    <div class="col-xs-4"> </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-4"> </div>
    <div class="col-xs-4">
         
        <button type="button" class="btn btn-primary" (click) = getStockDetails()>Get the stock Details</button>
    </div>
    <div class="col-xs-4"> </div>
  </div>
  </div>
  