 <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Stock Price Viewer Dashbord</a>
            </div>
            <ul class="nav navbar-nav">
              <li class ="actove"><a (click) = "onClickGetStockDetails()">Stock Details</a></li>
              <li><a (click) = "onClickGetQuoteDetails()">Quote Details</a></li>
            </ul>
          </div>
        </nav>



<router-outlet></router-outlet>
                


